<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="http://fortawesome.github.io/Font-Awesome/assets/font-awesome/css/font-awesome.css"> 
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.12.4.min.js"></script>
    <script>window.jQuery || document.write('<script src="/js/jquery-1.12.4.min.js">\x3C/script>')</script>
    <link href="style.css" rel="stylesheet" />
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<style>
.text-wrap{
	white-space:normal;
}
</style>
	<div class="container">
	<h2 class="page-header">Home Page decision tree</h2>
	<div class="row">
		<div class="col-xs-12">
	<p class="lead text-center bg-info btn text-info center-block">What functionalities do you want to use?</p>
		<div class="row">
			<div class="col-xs-4 text-center">
				<p class="btn"><span class="glyphicon glyphicon-arrow-down"></span>
			</div>
			<div class="col-xs-4 text-center">
				<p class="btn"><span class="glyphicon glyphicon-arrow-down"></span>
			</div>
			<div class="col-xs-4 text-center">
				<p class="btn"><span class="glyphicon glyphicon-arrow-down"></span>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-4 text-center">
				<p class="center-block"><span class="btn btn-warning btn-lg">Calendar</span></p>
				<p class="btn center-block"><span class="glyphicon glyphicon-arrow-down"></span></p>
					<p class="center-block bg-info text-info btn">Access to Booked Events</p>
			<div class="row">
				<div class="col-xs-6 text-center">
					<p class="btn"><span class="glyphicon glyphicon-arrow-down"></span></p>
				</div>
				<div class="col-xs-6 text-center">
					<p class="btn"><span class="glyphicon glyphicon-arrow-down"></span></p>
				</div>	  
			</div>
			<div class="row">
				<div class="col-xs-6 text-center">
					<p class="center-block"><span class="btn btn-success btn-lg">View/Add</span></p>
						<p class="btn">
							<span class="glyphicon glyphicon-arrow-down"></span></p>
								<p class="bg-success text-success btn text-wrap">Go to <code>Calendar</code> section</p>
				</div>
				<div class="col-xs-6 text-center">
					<p class="center-block"><span class="btn btn-danger btn-lg">Remove</span></p>
						<p class="btn center-block"><span class="glyphicon glyphicon-arrow-down"></span></p>
							<p class="btn bg-danger text-danger text-wrap">Go to <code>Calendar</code> section</p>
				</div>
			</div>
			</div>
			<div class="col-xs-4 text-center">
				<p class="center-block"><span class="btn btn-warning btn-lg">Create Events</span></p>
				<p class="btn center-block"><span class="glyphicon glyphicon-arrow-down"></span></p>
					<p class="center-block bg-info text-info btn">Add New Events</p>
			<div class="row">
					<div class="col-xs-12 text-center">
					<p class="btn"><span class="glyphicon glyphicon-arrow-down"></span></p>
				</div> 
			</div>
			<div class="row">
				<div class="col-xs-12 text-center">
					<p class="btn bg-danger text-danger text-wrap">Go to <code>New Event</code> section</p>
					<div class="row">
						<p class="btn"><span class="glyphicon glyphicon-arrow-down"></span></p>
						<p class="center-block"><span class="btn btn-warning btn-lg">Room Selection</span></p>
						<p class="btn"><span class="glyphicon glyphicon-arrow-down"></span></p>
						<p class="center-block"><span class="btn btn-warning btn-lg">Pricing</span></p>
					</div>
				</div>
			</div>
			</div>
			<div class="col-xs-4 text-center">
				<p class="center-block"><span class="btn btn-warning btn-lg">Search Events</span></p>
				<p class="btn center-block"><span class="glyphicon glyphicon-arrow-down"></span></p>
					<p class="center-block bg-info text-info btn">Access to Events in the current database</p>
				<div class="row">
					<div class="col-xs-6 text-center">
						<p class="btn"><span class="glyphicon glyphicon-arrow-down"></span></p>
					</div>
					<div class="col-xs-6 text-center">
						<p class="btn"><span class="glyphicon glyphicon-arrow-down"></span></p>
					</div>	  
				</div>
				<div class="row">
						<div class="col-xs-6 text-center">
							<p class="center-block"><span class="btn btn-success btn-lg">View</span></p>
							<p class="btn">
								<span class="glyphicon glyphicon-arrow-down"></span></p>
									<p class="bg-success text-success btn text-wrap">click <code>Search</code> button 
									on the <code>Search Event</code> page</p>
						</div>
						<div class="col-xs-6 text-center">
							<p class="center-block"><span class="btn btn-danger btn-lg">Remove</span></p>
								<p class="btn center-block"><span class="glyphicon glyphicon-arrow-down"></span></p>
								<p class="btn bg-danger text-danger text-wrap">Select the event ID and click 
									<code>Remove</code> button on the <code>Search Event</code> page</p>
						</div>
				</div>
			</div>
		</div>	
		</div>
	</div>
	</div>